.container {
	letter-spacing: 0.5px;
	display: flex;
	padding: 50px 100px;
	/* align-items: center; */
	/* justify-content: center; */
	flex-direction: column;
}

.calculatorContainer {
	justify-content: space-around;
	border: 1px solid grey;
	border-radius: 5px;
	display: flex;
	gap: 0px;
}

.chartContainer {
	width: 40%;
	margin-left: 40px;
}

.outputContainer {
	border: 1px solid lightgrey;
	padding: 10px;
	border-radius: 5px;
}

.outputText {
	display: flex;
	justify-content: space-between;
}

.inputContainer {
	padding: 20px;
	width: 40%;
}
