.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 100px;
	height: 100vh;
}

.blogActions {
	align-self: flex-end;
	display: flex;
	gap: 5px;
}

.blogContainer {
	width: 100%;
	height: 90%;
	border: 1px solid black;
}
