.container {
	display: flex;
	gap: 20px;
	align-items: center;
}

.inputContainer {
	width: 500px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.goalsContainer {
	height: 100%;
	display: flex;
	overflow: scroll;
	overflow-y: visible;
}

.goalsIllustrationContainer {
	align-self: flex-end;
	margin-left: 100px;
}

.goalsIllustrationContainer img {
	height: 350px;
}

.createGoalBtn:hover {
	transform: translateY(-2px);
	background-color: lightblue;
}
