.container {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 10px;
	height: 100vh;
}

.container button {
	height: 5%;
	width: 25%;
	align-self: center;
	text-align: center;
	padding: 10px;
	background-color: #06d6a0;
	border-radius: 10px;
	border: none;
	/* font-weight: ; */
	font-size: 15px;
	/* box-shadow: 5px 5px 5px #06d6a0; */
}

.container button:hover {
	transform: translateY(-2px);
}

.row {
	height: 90%;
	display: flex;
	justify-content: center;
	width: 90vw;
}

.editor,
.preview {
	height: 80%;
	max-height: none;
	width: 80vw;
}

.preview {
	padding: 0 10px;
	border-radius: 10px;
	border: 2px solid #dcdcdc;
	/* background-color: #dcdcdc; */
}
