.container {
	display: flex;
	height: 75px;
	background-color: #06d6a0;
	padding: 10px 40px;
	align-items: center;
	justify-content: space-between;
}

.container img {
	height: 80px;
}

.link {
	text-decoration: solid;
	color: #073b4c;
}

.link:hover {
	font-weight: bolder;
}

.active {
	font-weight: bolder;
	color: #ef476f;
}

.links {
	display: flex;
	gap: 20px;
	align-items: center;
	padding-left: 20px;
	font-size: 20px;
}
