.container{
    position: fixed;
    top : 0;
    width: 100%;
    display: flex;
    background-color: pink;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    gap : 10px;
    align-items: center;
    padding-left: 30px;
}

.active {
    /* "text-decoration: ;" : "underline",
    fontWeight : "bold",
    color : "red"  */
    text-decoration:none;
    font-weight: bold;
    color: red;
}

.link {
    text-decoration: none;
}

.container button {
    margin-right: 40px;
}