
.container {
    /* padding: 30px; */
    display: flex;
    justify-content: center;    
}

.heroBlog{
    display: flex;
    justify-content: center;
}

.remainingBlogsContainer {
    display:  flex;
    gap : 30px;
    flex-wrap: wrap;
}
