.container {
	display: flex;
	flex-direction: column;
	padding: 50px 200px;
	gap: 20px;
}

.enrollBtn {
	width: 10%;
}

.courseDetails h1 {
	font-size: 30px;
}

.courseDetails p {
	width: 40%;
	font-size: 20px;
	font-weight: 300;
}
