.container {
	padding: 30px 50px;
	font-family: "Lusitana";
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.card:hover {
	/* background-color: #2980b9; */
	box-shadow: 5px 5px 5px #e8d2d2;
}

.coursesContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.searchContainer {
	display: flex;
	padding: 10px;
	border: 2px solid #e8d2d2;
	align-items: center;
	width: 20%;
	gap: 10px;
}

.searchContainer img {
	height: 15px;
}

.searchContainer input {
	border: none;
}
.searchContainer input:focus {
	border: none;
	outline: none;
}
