.container {
	display: flex;
	/* flex-direction: column; */
	gap: 40px;
	margin-top: 30px;
	padding: 10px 100px;
	/* justify-content: center; */
	/* align-items: center; */
}

.leftContainer {
	/* background-color: rebeccapurple */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 15%;
	border-right: 2px solid grey;
}

.rightContainer {
	display: flex;
	width: 70%;
	flex-direction: column;
	gap: 20px;
}

.leftContainer p {
	color: grey;
}

.coursesContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	/* grid-template-columns: 1fr 1fr 1fr; */
}

.searchCoursesContainer {
	display: flex;
	gap: 10px;
	padding: 10px 15px;
	border: 2px solid rgb(219, 212, 229);
	width: 20%;
}

.searchCoursesContainer img {
	height: 20px;
}

.searchCoursesContainer input {
	width: 85%;
	height: 25px;
	border: none;
	font-size: 18px;
	color: #606060;
}

.searchCoursesContainer input:focus {
	width: 85%;
	height: 25px;

	outline: none;
}

.filterContainer {
	/* width: 30%; */
	/* background-color: pink; */
	display: flex;
	gap: 30px;
}

.statusContainer {
	height: 25px;
}

.card:hover {
	/* border: 1px solid  ; */
	box-shadow: 5px 10px 10px rgb(219, 212, 229);
}
